// COLORS & BACKGROUNDS --------------------------------------------------------

$lightGray: #eeeeee;
$blue: #0096df;
$green: #00bfa8;
$yellow: #fdf485;
$orange: #ff8000;
$red: #ff4040;

$color: #cccccc;
$bgColor: #444444;

$headingColor: $yellow;
$linkColor: $green;

$borderColor: #d5d5d5;
$darkBorderColor: darken($borderColor, 10%);
$darkerBorderColor: darken($borderColor, 20%);
$lightBorderColor: lighten($borderColor, 5%);
$lighterBorderColor: lighten($borderColor, 10%);

// TYPE --------------------------------------------------------

$fontFamily: 'PT Sans', Helvetica, Arial, sans-serif;
$fontSize: 1em;

// LAYOUT --------------------------------------------------------

$gutter: 40px;
$maxColumnWidth: 740px;

// UI COMPONENTS --------------------------------------------------------
$radius: 0;

@import "compass/css3";
@import "compass/utilities/general/clearfix";

// Preload images
// body:after {
//   content: url(../i/prev.png) url(../i/next.png);
//   display: none;
// }

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  @include opacity(0.8);
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    @include border-radius($radius - 1);
  }
  a img {
    border: none;
  }
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  @include pie-clearfix;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  @include border-radius($radius);
}

.lb-container {
  padding: 0;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  //background: url(../i/loading.gif) no-repeat;
  font-size: 32px;
  color: #0AAAED;
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  @include text-shadow(rgba(#444, 0.5) 0 0 30px);
  &:before {
    content: "\f021";
  }
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
}

.lb-prev, .lb-next {
  width: 100px;
  height: 100%;
  cursor: pointer;
  position: relative;

  display: inline-block;
  font-family: 'mihamoto';
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 36px;
  color: #00A9E2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: opacity .3s ease-out;
  opacity: .8;

  text-shadow: 2px 1px 3px rgba(#444, .8);

  &:hover {
    color: #00A9E2;
    opacity: 1;

    &:active {
      margin-top: 1px;
    }
  }

  &:before {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    margin-top: -25px;
    line-height: 50px;
    text-align: center;
    //background-color: #fff;
    border-radius: 100%;
  }
}

.lb-prev {
  left: 0;
  float: left;
  &:before {
    right: 20px;
    content: "\e600";
  }
}

.lb-next {
  right: 0;
  float: right;
  &:before {
    left: 20px;
    content: "\e601";
    text-shadow: -2px 1px 3px rgba(0,0,0,.8);
  }
}

.lb-dataContainer {
  margin: 0 auto;
  width: 100%;
  //min-height: 50px;
  background-color: #fff;
  color: #2C2B2C;

  .lb-data {
    .lb-details {
      @include cf();

      .lb-caption {
        width: 50%;
        float: left;
        text-align: left;
        padding: 30px 20px;
      }

      .lb-number {
        width: 50%;
        float: left;
        text-align: right;
        padding: 30px 20px;
      }
    }

  }
}

.lb-close {
  display: inline-block;
  font-family: 'mihamoto';
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 20px;
  position: absolute;
  top: -35px;
  right: 0;
  color: #fff;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  visibility: hidden;
  cursor: pointer;
  &:before {
    content: "\e605";
    visibility: visible;
  }
  @include opacity(0.7);
  @include transition(opacity 0.2s);
  &:hover {
    color: #FFF;
    cursor: pointer;
    @include opacity(1);
  }
}
