.b-debug-pagelist
  .b-debug-pagelist__btn
  ul
    li: a(href='index.html') Главная
    li: a(href='page.html') Типовая
    li: a(href='about.html') О компании
    li: a(href='contacts.html') Контакты

<!--[if (!IE)|(gt IE 8)]><!-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--<![endif]-->

<!--[if lte IE 8]>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<![endif]-->

//- script(src='assets/javascripts/vendor/*.min.js')
script(src='assets/javascripts/app.js')
