.b-input
  -webkit-appearance: none
  display: inline-block
  outline: none
  margin-bottom: 18px
  width: 100%
  height: 41px
  padding: 5px 10px
  border: 1px solid #DDD
  border-radius: 0
  background-color: #FFF

  color: $text-color
  font-family: $font-family
  font-size: $text-size

  &:focus
    border-color: #00ABE0

  &.error
    border-color: #FF6F1D

  +placeholder
    color: #807a7a
    font-size: $text-size

// Error placement in ruby:
//
// <div class="field_with_errors">
//   <input id="post_title" name="post[title]" size="30" type="text" value="">
// </div>
//
// http://guides.rubyonrails.org/active_record_validations.html#displaying-validation-errors-in-views
//
//.field_with_errors
//  .b-input
//    color: #db2300

input[type="checkbox"]
  vertical-align: middle
  & + label
    vertical-align: middle
    cursor: pointer
    user-select: none

.b-select
  background: #FFF url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAMBAMAAADrBkIEAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAD1BMVEUAAACisr2isr2isr0AAABpxCLHAAAAA3RSTlMAf4C/aSLHAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAEdJREFUGNNtytEJACAIhGFtgsAFgiYo998tO+zB9H85OD7iTuitJyuuNxWMdYe7KZjooMx/7Dxh8IzBC3x5gS+vsPEKG0/4ADZNBy1StoBEAAAAAElFTkSuQmCC') right center no-repeat
  background-size: 22px
  padding-right: 27px
  &::-ms-expand
    display: none
  &[disabled]
    opacity: .8
@-moz-document url-prefix()
  .b-select
    background: #FFF

.b-textarea
  font-family: $font-family
  width: 100%
  height: 200px
  max-width: 100%
  max-height: 200px
  resize: none
  padding: 10px
  margin-bottom: 0

.b-label
  display: block

.m-button
  display: inline-block
  border: none
  text-decoration: none
  position: relative
  cursor: pointer
  user-select: none
  text-align: center
  color: #fff
  font-family: $font-family
  font-size: $text-size
  padding: 15px 30px
  background-color: #000
  margin-bottom: 0
  white-space: nowrap
  vertical-align: middle
  touch-action: manipulation
  +resetTap

  &:hover
    background-color: #434343
    &:active
      transform: translateY(1px)
